# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv

# Log files
*.log

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Config file in root directory
config.yaml